@tailwind base;
@tailwind components;
@tailwind utilities;


/* GENERAL STYLES */

@font-face {
  font-family: Poppins Regular;
  font-weight: 400;
  src: url(../fonts/poppins-regular-webfont.ttf) format("ttf"),
    url(../fonts/poppins-regular-webfont.woff) format("woff"),
    url(../fonts/poppins-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-family: Poppins ExtraBold;
  src: url(../fonts/poppins-extrabold-webfont.ttf) format("ttf"),
    url(../fonts/poppins-extrabold-webfont.woff) format("woff"),
    url(../fonts/poppins-extrabold-webfont.woff2) format("woff2");
}

body,
html {
  font-family: Poppins Regular;
}

h1 {
  font-family: Poppins ExtraBold;
}

.text-shadow {
  text-shadow: 0 0 50px hsla(0, 0%, 0%, .2);
}

.vertical-line-white {
  border-left: 2px solid #ffffff;
}

.vertical-line-gray {
  border-left: 2px solid #334E68;
}

@media screen and (min-width: 1024px) {
  .flex-50 {
    flex: 0 50%;
  }

  .flex-33 {
    flex: 0 33%;
  }

  .custom-ml-19 {
    margin-left: 19rem;
  }
}


/* HEADER STYLES*/

.visible-flex {
  display: flex;
}

#main-header {
  background-image: url(../img/hypnotize.png);
  min-height: 28rem;
}

/* #menu-toggle:checked+#menu {
  display: flex;
} */

#menu a {
  -webkit-transition: font-size .3s;
  transition: font-size .3s ease-in-out;
}

#menu a:hover {
  font-size: 1.875rem;
}

.overlay {
  background-color: hsla(0, 0%, 0%, .5);
}


button {
  border-radius: 60px;
}


/* WHO I AM SECTION STYLES*/

#who-i-am span {
  font-family: Poppins ExtraBold;
}


/* WHAT I USE SECTION STYLES*/

.icon-circle i {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}